:root {
  --breakout-secondary-100: rgba(220, 221, 221, 1);
  --breakout-secondary-50: rgba(243, 244, 244, 1);
  --breakout-primary-900: rgba(51, 35, 0, 1);
  --breakout-primary-800: rgba(102, 70, 0, 1);
  --breakout-primary-700: rgba(153, 105, 0, 1);
  --breakout-primary-600: rgba(204, 139, 0, 1);
  --breakout-primary-500: rgba(255, 174, 0, 1);
  --breakout-primary-400: rgba(255, 190, 51, 1);
  --breakout-primary-300: rgba(255, 207, 102, 1);
  --breakout-primary-200: rgba(255, 223, 153, 1);
  --breakout-primary-100: rgba(255, 239, 204, 1);
  --breakout-primary-50: rgba(255, 247, 229, 1);
  --breakout-secondary900: rgba(55, 56, 56, 1);
  --breakout-secondary800: rgba(74, 76, 76, 1);
  --breakout-secondary700: rgba(93, 95, 95, 1);
  --breakout-secondary600: rgba(133, 135, 135, 1);
  --breakout-secondary500: rgba(4, 7, 7, 1);
  --breakout-secondary400: rgba(153, 155, 155, 1);
  --breakout-secondary300: rgba(175, 177, 177, 1);
  --breakout-secondary200: rgba(197, 199, 199, 1);
  --b-success-800: rgba(31, 71, 32, 1);
  --b-success-500: rgba(76, 175, 80, 1);
  --b-success-300: rgba(148, 209, 150, 1);
  --b-success-50: rgba(237, 247, 238, 1);
  --b-error-800: rgba(99, 14, 13, 1);
  --b-error-500: rgba(229, 57, 53, 1);
  --b-error-300: rgba(239, 135, 133, 1);
  --b-error-50: rgba(253, 237, 237, 1);
  --shades-0: rgba(255, 255, 255, 1);
  --shades-0-stroke: rgba(0, 0, 0, 1);
  --h1-h1-light-font-family: "Sharp Grotesk", Helvetica;
  --h1-h1-light-font-weight: 300;
  --h1-h1-light-font-size: 76px;
  --h1-h1-light-letter-spacing: 0px;
  --h1-h1-light-line-height: 110.00000238418579%;
  --h1-h1-light-font-style: normal;
  --h1-h1-regular-font-family: "Sharp Grotesk", Helvetica;
  --h1-h1-regular-font-weight: 400;
  --h1-h1-regular-font-size: 76px;
  --h1-h1-regular-letter-spacing: 0px;
  --h1-h1-regular-line-height: 110.00000238418579%;
  --h1-h1-regular-font-style: normal;
  --h1-h1-medium-font-family: "Sharp Grotesk", Helvetica;
  --h1-h1-medium-font-weight: 500;
  --h1-h1-medium-font-size: 76px;
  --h1-h1-medium-letter-spacing: 0px;
  --h1-h1-medium-line-height: 110.00000238418579%;
  --h1-h1-medium-font-style: normal;
  --h1-h1-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --h1-h1-semi-bold-font-weight: 600;
  --h1-h1-semi-bold-font-size: 76px;
  --h1-h1-semi-bold-letter-spacing: 0px;
  --h1-h1-semi-bold-line-height: 110.00000238418579%;
  --h1-h1-semi-bold-font-style: normal;
  --display-display-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --display-display-semi-bold-font-weight: 500;
  --display-display-semi-bold-font-size: 64px;
  --display-display-semi-bold-letter-spacing: 0px;
  --display-display-semi-bold-line-height: 110.00000238418579%;
  --display-display-semi-bold-font-style: normal;
  --display-display-medium-font-family: "Sharp Grotesk", Helvetica;
  --display-display-medium-font-weight: 500;
  --display-display-medium-font-size: 64px;
  --display-display-medium-letter-spacing: 0px;
  --display-display-medium-line-height: 110.00000238418579%;
  --display-display-medium-font-style: normal;
  --display-display-regular-font-family: "Sharp Grotesk", Helvetica;
  --display-display-regular-font-weight: 300;
  --display-display-regular-font-size: 64px;
  --display-display-regular-letter-spacing: 0px;
  --display-display-regular-line-height: 110.00000238418579%;
  --display-display-regular-font-style: normal;
  --h2-h2-light-font-family: "Sharp Grotesk", Helvetica;
  --h2-h2-light-font-weight: 300;
  --h2-h2-light-font-size: 36px;
  --h2-h2-light-letter-spacing: 0px;
  --h2-h2-light-line-height: 110.00000238418579%;
  --h2-h2-light-font-style: normal;
  --h2-h2-regular-font-family: "Sharp Grotesk", Helvetica;
  --h2-h2-regular-font-weight: 400;
  --h2-h2-regular-font-size: 36px;
  --h2-h2-regular-letter-spacing: 0px;
  --h2-h2-regular-line-height: 110.00000238418579%;
  --h2-h2-regular-font-style: normal;
  --h2-h2-medium-font-family: "Sharp Grotesk", Helvetica;
  --h2-h2-medium-font-weight: 500;
  --h2-h2-medium-font-size: 36px;
  --h2-h2-medium-letter-spacing: 0px;
  --h2-h2-medium-line-height: 110.00000238418579%;
  --h2-h2-medium-font-style: normal;
  --h2-h2-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --h2-h2-semi-bold-font-weight: 600;
  --h2-h2-semi-bold-font-size: 36px;
  --h2-h2-semi-bold-letter-spacing: 0px;
  --h2-h2-semi-bold-line-height: 110.00000238418579%;
  --h2-h2-semi-bold-font-style: normal;
  --h3-h3-light-font-family: "Sharp Grotesk", Helvetica;
  --h3-h3-light-font-weight: 300;
  --h3-h3-light-font-size: 24px;
  --h3-h3-light-letter-spacing: 0px;
  --h3-h3-light-line-height: 110.00000238418579%;
  --h3-h3-light-font-style: normal;
  --h3-h3-regular-font-family: "Sharp Grotesk", Helvetica;
  --h3-h3-regular-font-weight: 400;
  --h3-h3-regular-font-size: 24px;
  --h3-h3-regular-letter-spacing: 0px;
  --h3-h3-regular-line-height: 110.00000238418579%;
  --h3-h3-regular-font-style: normal;
  --h3-h3-medium-font-family: "Sharp Grotesk", Helvetica;
  --h3-h3-medium-font-weight: 500;
  --h3-h3-medium-font-size: 24px;
  --h3-h3-medium-letter-spacing: 0px;
  --h3-h3-medium-line-height: 110.00000238418579%;
  --h3-h3-medium-font-style: normal;
  --h3-h3-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --h3-h3-semi-bold-font-weight: 600;
  --h3-h3-semi-bold-font-size: 24px;
  --h3-h3-semi-bold-letter-spacing: 0px;
  --h3-h3-semi-bold-line-height: 110.00000238418579%;
  --h3-h3-semi-bold-font-style: normal;
  --title-title-light-font-family: "Sharp Grotesk", Helvetica;
  --title-title-light-font-weight: 300;
  --title-title-light-font-size: 20px;
  --title-title-light-letter-spacing: 0px;
  --title-title-light-line-height: 110.00000238418579%;
  --title-title-light-font-style: normal;
  --title-title-regular-font-family: "Sharp Grotesk", Helvetica;
  --title-title-regular-font-weight: 400;
  --title-title-regular-font-size: 20px;
  --title-title-regular-letter-spacing: 0px;
  --title-title-regular-line-height: 110.00000238418579%;
  --title-title-regular-font-style: normal;
  --title-title-medium-font-family: "Sharp Grotesk", Helvetica;
  --title-title-medium-font-weight: 500;
  --title-title-medium-font-size: 20px;
  --title-title-medium-letter-spacing: 0px;
  --title-title-medium-line-height: 110.00000238418579%;
  --title-title-medium-font-style: normal;
  --title-title-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --title-title-semi-bold-font-weight: 600;
  --title-title-semi-bold-font-size: 20px;
  --title-title-semi-bold-letter-spacing: 0px;
  --title-title-semi-bold-line-height: 110.00000238418579%;
  --title-title-semi-bold-font-style: normal;
  --body-body-light-font-family: "Sharp Grotesk", Helvetica;
  --body-body-light-font-weight: 300;
  --body-body-light-font-size: 16px;
  --body-body-light-letter-spacing: 0px;
  --body-body-light-line-height: 150%;
  --body-body-light-font-style: normal;
  --body-body-regular-font-family: "Sharp Grotesk", Helvetica;
  --body-body-regular-font-weight: 400;
  --body-body-regular-font-size: 16px;
  --body-body-regular-letter-spacing: 0px;
  --body-body-regular-line-height: 150%;
  --body-body-regular-font-style: normal;
  --body-body-medium-font-family: "Sharp Grotesk", Helvetica;
  --body-body-medium-font-weight: 400;
  --body-body-medium-font-size: 16px;
  --body-body-medium-letter-spacing: 0px;
  --body-body-medium-line-height: 150%;
  --body-body-medium-font-style: normal;
  --body-body-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --body-body-semi-bold-font-weight: 400;
  --body-body-semi-bold-font-size: 16px;
  --body-body-semi-bold-letter-spacing: 0px;
  --body-body-semi-bold-line-height: 150%;
  --body-body-semi-bold-font-style: normal;
  --inputs-inputs-light-font-family: "Sharp Grotesk", Helvetica;
  --inputs-inputs-light-font-weight: 300;
  --inputs-inputs-light-font-size: 14px;
  --inputs-inputs-light-letter-spacing: 0px;
  --inputs-inputs-light-line-height: 150%;
  --inputs-inputs-light-font-style: normal;
  --inputs-inputs-regular-font-family: "Sharp Grotesk", Helvetica;
  --inputs-inputs-regular-font-weight: 400;
  --inputs-inputs-regular-font-size: 14px;
  --inputs-inputs-regular-letter-spacing: 0px;
  --inputs-inputs-regular-line-height: 150%;
  --inputs-inputs-regular-font-style: normal;
  --inputs-inputs-medium-font-family: "Sharp Grotesk", Helvetica;
  --inputs-inputs-medium-font-weight: 400;
  --inputs-inputs-medium-font-size: 14px;
  --inputs-inputs-medium-letter-spacing: 0px;
  --inputs-inputs-medium-line-height: 150%;
  --inputs-inputs-medium-font-style: normal;
  --inputs-inputs-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --inputs-inputs-semi-bold-font-weight: 400;
  --inputs-inputs-semi-bold-font-size: 14px;
  --inputs-inputs-semi-bold-letter-spacing: 0px;
  --inputs-inputs-semi-bold-line-height: 150%;
  --inputs-inputs-semi-bold-font-style: normal;
  --m-h1-h1-light-font-family: "Sharp Grotesk", Helvetica;
  --m-h1-h1-light-font-weight: 300;
  --m-h1-h1-light-font-size: 32px;
  --m-h1-h1-light-letter-spacing: 0px;
  --m-h1-h1-light-line-height: 120.00000476837158%;
  --m-h1-h1-light-font-style: normal;
  --m-h1-h1-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-h1-h1-regular-font-weight: 400;
  --m-h1-h1-regular-font-size: 32px;
  --m-h1-h1-regular-letter-spacing: 0px;
  --m-h1-h1-regular-line-height: 120.00000476837158%;
  --m-h1-h1-regular-font-style: normal;
  --m-h1-h1-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-h1-h1-medium-font-weight: 500;
  --m-h1-h1-medium-font-size: 32px;
  --m-h1-h1-medium-letter-spacing: 0px;
  --m-h1-h1-medium-line-height: 120.00000476837158%;
  --m-h1-h1-medium-font-style: normal;
  --m-h1-h1-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-h1-h1-semi-bold-font-weight: 600;
  --m-h1-h1-semi-bold-font-size: 32px;
  --m-h1-h1-semi-bold-letter-spacing: 0px;
  --m-h1-h1-semi-bold-line-height: 120.00000476837158%;
  --m-h1-h1-semi-bold-font-style: normal;
  --m-display-display-display-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-display-display-display-semi-bold-font-weight: 600;
  --m-display-display-display-semi-bold-font-size: 32px;
  --m-display-display-display-semi-bold-letter-spacing: 0px;
  --m-display-display-display-semi-bold-line-height: 110.00000238418579%;
  --m-display-display-display-semi-bold-font-style: normal;
  --m-display-display-display-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-display-display-display-medium-font-weight: 500;
  --m-display-display-display-medium-font-size: 32px;
  --m-display-display-display-medium-letter-spacing: 0px;
  --m-display-display-display-medium-line-height: 110.00000238418579%;
  --m-display-display-display-medium-font-style: normal;
  --m-display-display-display-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-display-display-display-regular-font-weight: 400;
  --m-display-display-display-regular-font-size: 32px;
  --m-display-display-display-regular-letter-spacing: 0px;
  --m-display-display-display-regular-line-height: 110.00000238418579%;
  --m-display-display-display-regular-font-style: normal;
  --m-display-m-display-display-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-display-m-display-display-regular-font-weight: 300;
  --m-display-m-display-display-regular-font-size: 32px;
  --m-display-m-display-display-regular-letter-spacing: 0px;
  --m-display-m-display-display-regular-line-height: 110.00000238418579%;
  --m-display-m-display-display-regular-font-style: normal;
  --m-h2-h2-light-font-family: "Sharp Grotesk", Helvetica;
  --m-h2-h2-light-font-weight: 300;
  --m-h2-h2-light-font-size: 24px;
  --m-h2-h2-light-letter-spacing: 0px;
  --m-h2-h2-light-line-height: 110.00000238418579%;
  --m-h2-h2-light-font-style: normal;
  --m-h2-h2-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-h2-h2-regular-font-weight: 400;
  --m-h2-h2-regular-font-size: 24px;
  --m-h2-h2-regular-letter-spacing: 0px;
  --m-h2-h2-regular-line-height: 110.00000238418579%;
  --m-h2-h2-regular-font-style: normal;
  --m-h2-h2-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-h2-h2-medium-font-weight: 500;
  --m-h2-h2-medium-font-size: 24px;
  --m-h2-h2-medium-letter-spacing: 0px;
  --m-h2-h2-medium-line-height: 110.00000238418579%;
  --m-h2-h2-medium-font-style: normal;
  --m-h2-h2-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-h2-h2-semi-bold-font-weight: 600;
  --m-h2-h2-semi-bold-font-size: 24px;
  --m-h2-h2-semi-bold-letter-spacing: 0px;
  --m-h2-h2-semi-bold-line-height: 110.00000238418579%;
  --m-h2-h2-semi-bold-font-style: normal;
  --m-h3-h3-light-font-family: "Sharp Grotesk", Helvetica;
  --m-h3-h3-light-font-weight: 300;
  --m-h3-h3-light-font-size: 20px;
  --m-h3-h3-light-letter-spacing: 0px;
  --m-h3-h3-light-line-height: 110.00000238418579%;
  --m-h3-h3-light-font-style: normal;
  --m-h3-h3-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-h3-h3-regular-font-weight: 400;
  --m-h3-h3-regular-font-size: 20px;
  --m-h3-h3-regular-letter-spacing: 0px;
  --m-h3-h3-regular-line-height: 110.00000238418579%;
  --m-h3-h3-regular-font-style: normal;
  --m-h3-h3-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-h3-h3-medium-font-weight: 500;
  --m-h3-h3-medium-font-size: 20px;
  --m-h3-h3-medium-letter-spacing: 0px;
  --m-h3-h3-medium-line-height: 110.00000238418579%;
  --m-h3-h3-medium-font-style: normal;
  --m-h3-h3-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-h3-h3-semi-bold-font-weight: 600;
  --m-h3-h3-semi-bold-font-size: 20px;
  --m-h3-h3-semi-bold-letter-spacing: 0px;
  --m-h3-h3-semi-bold-line-height: 110.00000238418579%;
  --m-h3-h3-semi-bold-font-style: normal;
  --m-title-title-light-font-family: "Sharp Grotesk", Helvetica;
  --m-title-title-light-font-weight: 300;
  --m-title-title-light-font-size: 16px;
  --m-title-title-light-letter-spacing: 0px;
  --m-title-title-light-line-height: 110.00000238418579%;
  --m-title-title-light-font-style: normal;
  --m-title-title-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-title-title-regular-font-weight: 400;
  --m-title-title-regular-font-size: 16px;
  --m-title-title-regular-letter-spacing: 0px;
  --m-title-title-regular-line-height: 110.00000238418579%;
  --m-title-title-regular-font-style: normal;
  --m-title-title-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-title-title-medium-font-weight: 500;
  --m-title-title-medium-font-size: 16px;
  --m-title-title-medium-letter-spacing: 0px;
  --m-title-title-medium-line-height: 110.00000238418579%;
  --m-title-title-medium-font-style: normal;
  --m-title-title-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-title-title-semi-bold-font-weight: 600;
  --m-title-title-semi-bold-font-size: 16px;
  --m-title-title-semi-bold-letter-spacing: 0px;
  --m-title-title-semi-bold-line-height: 110.00000238418579%;
  --m-title-title-semi-bold-font-style: normal;
  --m-body-body-light-font-family: "Sharp Grotesk", Helvetica;
  --m-body-body-light-font-weight: 300;
  --m-body-body-light-font-size: 14px;
  --m-body-body-light-letter-spacing: 0px;
  --m-body-body-light-line-height: 150%;
  --m-body-body-light-font-style: normal;
  --m-body-body-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-body-body-regular-font-weight: 400;
  --m-body-body-regular-font-size: 14px;
  --m-body-body-regular-letter-spacing: 0px;
  --m-body-body-regular-line-height: 150%;
  --m-body-body-regular-font-style: normal;
  --m-body-body-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-body-body-medium-font-weight: 400;
  --m-body-body-medium-font-size: 14px;
  --m-body-body-medium-letter-spacing: 0px;
  --m-body-body-medium-line-height: 150%;
  --m-body-body-medium-font-style: normal;
  --m-body-body-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-body-body-semi-bold-font-weight: 400;
  --m-body-body-semi-bold-font-size: 14px;
  --m-body-body-semi-bold-letter-spacing: 0px;
  --m-body-body-semi-bold-line-height: 150%;
  --m-body-body-semi-bold-font-style: normal;
  --m-inputs-inputs-light-font-family: "Sharp Grotesk", Helvetica;
  --m-inputs-inputs-light-font-weight: 300;
  --m-inputs-inputs-light-font-size: 12px;
  --m-inputs-inputs-light-letter-spacing: 0px;
  --m-inputs-inputs-light-line-height: 150%;
  --m-inputs-inputs-light-font-style: normal;
  --m-inputs-inputs-regular-font-family: "Sharp Grotesk", Helvetica;
  --m-inputs-inputs-regular-font-weight: 400;
  --m-inputs-inputs-regular-font-size: 12px;
  --m-inputs-inputs-regular-letter-spacing: 0px;
  --m-inputs-inputs-regular-line-height: 150%;
  --m-inputs-inputs-regular-font-style: normal;
  --m-inputs-inputs-medium-font-family: "Sharp Grotesk", Helvetica;
  --m-inputs-inputs-medium-font-weight: 500;
  --m-inputs-inputs-medium-font-size: 12px;
  --m-inputs-inputs-medium-letter-spacing: 0px;
  --m-inputs-inputs-medium-line-height: 150%;
  --m-inputs-inputs-medium-font-style: normal;
  --m-inputs-inputs-semi-bold-font-family: "Sharp Grotesk", Helvetica;
  --m-inputs-inputs-semi-bold-font-weight: 600;
  --m-inputs-inputs-semi-bold-font-size: 12px;
  --m-inputs-inputs-semi-bold-letter-spacing: 0px;
  --m-inputs-inputs-semi-bold-line-height: 150%;
  --m-inputs-inputs-semi-bold-font-style: normal;
  --breakout-breakout-breakout-primary-900: rgba(51, 35, 0, 1);
  --breakout-breakout-breakoutsecondary-900: rgba(55, 56, 56, 1);
  --breakout-breakout-breakoutsecondary-800: rgba(74, 76, 76, 1);
  --breakout-breakout-breakoutsecondary-700: rgba(93, 95, 95, 1);
  --breakout-breakout-breakoutsecondary-600: rgba(133, 135, 135, 1);
  --breakout-breakout-breakoutsecondary-500: rgba(4, 7, 7, 1);
  --breakout-breakout-breakoutsecondary-400: rgba(153, 155, 155, 1);
  --breakout-breakout-breakoutsecondary-300: rgba(175, 177, 177, 1);
  --breakout-breakout-breakoutsecondary-200: rgba(197, 199, 199, 1);
  --breakout-breakout-breakoutsecondary-secondary: rgba(4, 7, 7, 1);
  --breakout-breakout-bsuccess-800: rgba(31, 71, 32, 1);
  --breakout-breakout-bsuccess-500: rgba(76, 175, 80, 1);
  --breakout-breakout-bsuccess-300: rgba(148, 209, 150, 1);
  --breakout-breakout-bsuccess-50: rgba(237, 247, 238, 1);
  --breakout-breakout-berror-800: rgba(99, 14, 13, 1);
  --breakout-breakout-berror-500: rgba(229, 57, 53, 1);
  --breakout-breakout-berror-300: rgba(239, 135, 133, 1);
  --breakout-breakout-berror-50: rgba(253, 237, 237, 1);
  --breakout-breakout-shades-0: rgba(255, 255, 255, 1);
  --breakout-breakout-breakout-primary-800: rgba(102, 70, 0, 1);
  --breakout-breakout-breakout-primary-700: rgba(153, 105, 0, 1);
  --breakout-breakout-breakout-primary-600: rgba(204, 139, 0, 1);
  --breakout-breakout-breakout-primary-500: rgba(255, 174, 0, 1);
  --breakout-breakout-breakout-primary-400: rgba(255, 190, 51, 1);
  --breakout-breakout-breakout-primary-300: rgba(255, 207, 102, 1);
  --breakout-breakout-breakout-primary-200: rgba(255, 223, 153, 1);
  --breakout-breakout-breakout-primary-100: rgba(255, 239, 204, 1);
  --breakout-breakout-breakout-primary-50: rgba(255, 247, 229, 1);
  --breakout-breakout-breakout-primary-primary: rgba(255, 174, 0, 1);
  --breakout-breakout-breakout-primary-breakout-tertiary: rgba(248, 126, 0, 1);
  --tokens-background-surface: rgba(4, 7, 7, 1);
  --tokens-card: rgba(175, 177, 177, 0.25);
  --tokens-card-and-button-strokes: rgba(255, 255, 255, 0.5);
  --tokens-text-headline: rgba(255, 174, 0, 1);
  --tokens-text: rgba(255, 255, 255, 1);
  --tokens-sub-headline: rgba(255, 255, 255, 1);
  --tokens-secondary-button: rgba(243, 244, 244, 0.1);
  --tokens-header: rgba(4, 7, 7, 0.25);
  --tokens-on-hover: rgba(93, 95, 95, 0.25);
  --tokens-graydient: rgba(255, 174, 0, 0.8);
  --tokens-overlay-card: rgba(55, 56, 56, 0.2);
  --tokens-disable-icon: rgba(255, 174, 0, 1);
  --tokens-enable-icon: rgba(255, 255, 255, 1);
  --collection-button-radius-small-button-radius: 12px;
  --collection-button-radius-medium-button-radius: 16px;
  --collection-button-radius-large-button-radius: 24px;
  --collection-button-radius-fill-radius: 1000px;
  --collection-button-spacing-small-button-spacing: 4px;
  --collection-button-padding-horizontal-button-small-h-padding: 12px;
  --collection-icon-size-icon-small-size: 16px;
  --collection-icon-size-icon-medium-size: 24px;
  --collection-icon-size-icon-large-size: 32px;
  --collection-button-padding-horizontal-button-medium-h-padding: 24px;
  --collection-button-padding-horizontal-button-large-h-padding: 36px;
  --collection-button-padding-vertical-button-small-v-padding: 8px;
  --collection-button-padding-vertical-button-medium-v-padding: 10px;
  --collection-button-padding-vertical-button-large-v-padding: 12px;
  --collection-button-spacing-medium-button-spacing: 8px;
  --collection-button-spacing-large-button-spacing: 12px;
}
